/* GENERAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-text: #000;
    --color-background: #fff;
    --color-bg-common: #f5f7fa;
    --color-hover: #ccc;
    --color-primary: #f00;

    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --radius: 0.5rem;
    --shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

body {
    margin: 0;
    padding: 0 var(--spacing-md);
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    background: var(--color-bg-common);
}

h1,
h2,
h3 {
    margin: 0;
    padding-left: var(--spacing-sm);
}

h2 {
    margin: var(--spacing-sm) 0;
}

h4,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* MAIN */

header {
    padding: var(--spacing-md) 0;
    background: var(--color-background);
    border-radius: 0 0 var(--radius) var(--radius);
}

main {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 0 var(--spacing-md);
}

#main-nav {
    display: none;
    position: fixed;
    top: var(--spacing-md);
    right: var(--spacing-md);
}

#main-nav-cart {
    background: var(--color-background);
    border-radius: 50%;
    border: none;
    height: 3rem;
    width: 3rem;
    box-shadow: var(--shadow);
}

#main-nav-cart:hover {
    background: var(--color-hover);
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
    #cart-section {
        order: -1;
    }
    #main-nav {
        display: flex;
    }
}

/* MODAL */

.modal {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;

    background: rgb(0 0 0 / 30%);
}

.modal.open {
    display: flex;
}

.modal-close {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);

    background: var(--color-background);
    border-radius: 50%;
    border: none;
    height: 2rem;
    width: 2rem;
    line-height: 0;
}

.modal-close:hover {
    background: var(--color-hover);
}

.modal-container {
    position: relative;
    width: min(500px, 90%);
    padding: var(--spacing-md);
    border-radius: var(--radius);
    background: white;
    box-shadow: var(--shadow);
}

/* CART */

#cart-wrapper {
    padding: var(--spacing-sm);
    border-radius: var(--radius);
    background: var(--color-background);
}

/* CATALOG */

#catalog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: var(--spacing-sm);

    list-style: none;
    padding: 0;
    margin: 0;
}

#catalog-list > li {
    display: flex;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    padding: var(--spacing-sm);
    border-radius: var(--radius);
    background: var(--color-background);
}

.product img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
